
{% load static %}
{% load humanize %}

{% block title %}
Koszyk | E-SHOP
{% endblock %}

{% block body %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show mb-0" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="fas fa-times"></i>
            </button>
        </div>
    {% endfor %}
{% endif %}

<!-- Start Cart  -->
<div class="cart-box-main">
    <div class="container">
        {% if carts %}
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Twój koszyk</h1>
                </div>
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="text-center">
                                <th>Zdjęcia</th>
                                <th>Nazwa produktu</th>
                                <th>Cena</th>
                                <th>Ilość</th>
                                <th>Koszt całkowity</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cart in carts %}
                            <tr>
                                <td class="thumbnail-img" style="text-align:center">
                                    <a href="/productdetail/{{cart.product_id}}">
                                    <img height="100" src="{{cart.product.product_img.url}}" alt="" />
                                    </a>
                                </td>
                                <td class="name-pr">
                                    <a href="/productdetail/{{cart.product_id}}" class="nav-link">
                                    {{cart.product.product_name}}
                                    </a>
                                </td>
                                <td class="price-pr text-center">
                                    <p>{{cart.price|floatformat:2}} zł</p>
                                </td>
                                <td class="quantity-box text-center">
                                    <p>
                                        <a class="btn hvr-hover mr-2" href="/deletefromcart/{{cart.product.id}}" style="color:white;">
                                        <i class="fas fa-minus"></i></a>
                                        {{cart.qty}}
                                        <a class="btn hvr-hover ml-2" href="/addtocart/{{cart.product.id}}" style="color:white;">
                                        <i class="fas fa-plus"></i></a>
                                    </p>
                                </td>
                                <td class="total-pr text-center">
                                    <p>{{cart.amount|floatformat:2}} zł</p>
                                </td>
                                <td class="remove-pr">
                                    <a href="/deleteallfromcart/{{cart.product.id}}" class="nav-link"><i class="fas fa-trash"></i>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="row my-5">
            <div class="col-12 d-flex shopping-box"><a href="/clearcart" class="ml-auto btn hvr-hover">Clear Cart</a> </div>
        </div>

        <div class="row my-5">
            <div class="col-lg-8 col-sm-12"></div>
            <div class="col-lg-4 col-sm-12">
                <div class="order-box">
                    <h3>Podsumowanie zamówienia</h3>
                    <div class="d-flex">
                        <h4>Cena</h4>
                        <div class="ml-auto font-weight-bold">{{total|floatformat:2}} zł</div>
                    </div>
                    <hr class="my-1">
                    <div class="d-flex">
                        <h4>Koszt dostawy</h4>
                        <div class="ml-auto font-weight-bold"> {{shipping|floatformat:2}} zł </div>
                    </div>
                    <hr class="my-1">
                    <div class="d-flex gr-total">
                        <h4>Całkowity koszt zamówienia</h4>
                        <div class="ml-auto h5">{{grand_total|floatformat:2}} zł</div>
                    </div>
                    <hr> </div>
            </div>
            <div class="col-12 d-flex shopping-box"><a href="/checkout" class="ml-auto btn hvr-hover">Do Kasy</a> </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Twój koszyk jest pusty!</h1>
                    <p>Dodaj produkty do koszyka!</p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<!-- End Cart -->

{% endblock %}