{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block title %}
Sklep Elektroniczny
{% endblock %}

{% block body %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show mb-0" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="fas fa-times"></i>
            </button>
        </div>
    {% endfor %}
{% endif %}

<div class="mt-2">
    <div class="shadow p-2 rounded" style="background-color:#e9ecef; color:black">
        <div class="container">
            <div class="row text-center font-weight-bold">
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <p><a href="/products">Wszystkie produkty</a></p>
                </div>
                {% for category in categories %}
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <p><a href="/products/?category={{category.id}}">{{category.category_name}}</a></p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Start Products  -->

<div class="products-box" style="padding:20px 0px;" id="mobiles">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Smartfony</h1>
                </div>
            </div>
        </div>
        <div class="row">
            {% for mobile in mobiles %}
            <div class="col-lg-3 col-md-6 special-grid" >
                <div class="products-single fix shadow-sm p-2 bg-white rounded">
                    <a href="/productdetail/{{mobile.id}}">
                    <div class="box-img-hover ctr" style="height:300px;">
                        <img src="{{mobile.product_img.url}}" class="img-fluid" alt="Image">
                        <div class="mask-icon"></div>
                    </div></a>
                    <div class="why-text text-center" style="height:200px;">
                        <h4><a href="/productdetail/">{{mobile.product_name}}</a></h4>
                        <h5>{{mobile.price|intcomma}} zł</h5>
                        <div class="mt-2">
                            <a href="/buynow/{{mobile.id}}" class="btn hvr-hover cart" style="color:white">Kup Teraz</a>
                            <a href="/addtocart/{{mobile.id}}" class="btn hvr-hover cart" style="color:white">Dodaj do koszyka</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12 ctr">
                <a href="/products?category=1" class="btn hvr-hover" style="color:white">Pokaż wszystkie</a>
            </div>
        </div>
    </div>
</div>
<div class="products-box" style="padding:20px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Laptopy</h1>
                </div>
            </div>
        </div>
        <div class="row">
            {% for laptop in laptops %}
            <div class="col-lg-3 col-md-6 special-grid">
                <div class="products-single fix shadow-sm p-2 bg-white rounded">
                    <a href="/productdetail/{{laptop.id}}">
                    <div class="box-img-hover ctr" style="height:300px;">
                        <img src="{{laptop.product_img.url}}" class="img-fluid" alt="Image">
                        <div class="mask-icon"></div>
                    </div></a>
                    <div class="why-text text-center" style="height:200px;">
                        <h4><a href="/productdetail/{{laptop.id}}">{{laptop.product_name}}</a></h4>
                        <h5>{{laptop.price|intcomma}} zł</h5>
                        <div class="mt-2">
                            <a href="/buynow/{{laptop.id}}" class="btn hvr-hover cart" style="color:white">Kup Teraz</a>
                            <a href="/addtocart/{{laptop.id}}" class="btn hvr-hover cart" style="color:white">Dodaj do koszyka</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12 ctr">
                <a href="/products/?category=2" class="btn hvr-hover" style="color:white">Pokaż wszystkie</a>
            </div>
        </div>
    </div>
</div>
<div class="products-box" style="padding:20px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Telewizory</h1>
                </div>
            </div>
        </div>
        <div class="row">
            {% for tv in tvs %}
            <div class="col-lg-3 col-md-6 special-grid">
                <div class="products-single fix shadow-sm p-2 bg-white rounded">
                    <a href="/productdetail/{{tv.id}}">
                    <div class="box-img-hover ctr" style="height:300px;">
                        <img src="{{tv.product_img.url}}" class="img-fluid" alt="Image">
                        <div class="mask-icon"></div>
                    </div></a>
                    <div class="why-text text-center" style="height:200px;">
                        <h4><a href="/productdetail/{{tv.id}}">{{tv.product_name}}</a></h4>
                        <h5>{{tv.price|intcomma}} zł</h5>
                        <div class="mt-2">
                            <a href="/buynow/{{tv.id}}" class="btn hvr-hover cart" style="color:white">Kup Teraz</a>
                            <a href="/addtocart/{{tv.id}}" class="btn hvr-hover cart" style="color:white">Dodaj do koszyka</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12 ctr">
                <a href="/products/?category=3" class="btn hvr-hover" style="color:white">Pokaż wszystkie</a>
            </div>
        </div>
    </div>
</div>
<div class="products-box" style="padding:20px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Słuchawki</h1>
                </div>
            </div>
        </div>
        <div class="row">
            {% for headphone in headphones %}
            <div class="col-lg-3 col-md-6 special-grid">
                <div class="products-single fix shadow-sm p-2 bg-white rounded">
                    <a href="/productdetail/{{headphone.id}}">
                    <div class="box-img-hover ctr" style="height:280px;">

                        <img src="{{headphone.product_img.url}}" class="img-fluid" alt="Image">
                        <div class="mask-icon"></div>
                    </div></a>
                    <div class="why-text text-center" style="height:200px;">
                        <h4><a href="/productdetail/{{headphone.id}}">{{headphone.product_name}}</a></h4>
                        <h5>{{headphone.price|intcomma}} zł</h5>
                        <div class="mt-2">
                            <a href="/buynow/{{headphone.id}}" class="btn hvr-hover cart" style="color:white">Kup Teraz</a>
                            <a href="/addtocart/{{headphone.id}}" class="btn hvr-hover cart" style="color:white">Dodaj do koszyka</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12 ctr">
                <a href="/products?category=4" class="btn hvr-hover" style="color:white">Pokaż wszystkie</a>
            </div>
        </div>
    </div>

<div class="products-box" style="padding:20px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Monitory</h1>
                </div>
            </div>
        </div>
        <div class="row">
            {% for monitor in monitors %}
            <div class="col-lg-3 col-md-6 special-grid">
                <div class="products-single fix shadow-sm p-2 bg-white rounded">
                    <a href="/productdetail/{{monitor.id}}">
                    <div class="box-img-hover ctr" style="height:280px;">

                        <img src="{{monitor.product_img.url}}" class="img-fluid" alt="Image">
                        <div class="mask-icon"></div>
                    </div></a>
                    <div class="why-text text-center" style="height:200px;">
                        <h4><a href="/productdetail/{{monitor.id}}">{{monitor.product_name}}</a></h4>
                        <h5>{{monitor.price|intcomma}} zł</h5>
                        <div class="mt-2">
                            <a href="/buynow/{{monitor.id}}" class="btn hvr-hover cart" style="color:white">Kup Teraz</a>
                            <a href="/addtocart/{{monitor.id}}" class="btn hvr-hover cart" style="color:white">Dodaj do koszyka</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12 ctr">
                <a href="/products?category=5" class="btn hvr-hover" style="color:white">Pokaż wszystkie</a>
            </div>
        </div>
    </div>
<!-- End Products  -->

{% endblock %}