

{% load static %}
{% load humanize %}

{% block title %}
{{product.product_name}} | Lifestyle Electronics
{% endblock %}

{% block body %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show mb-0" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="fas fa-times"></i>
            </button>
        </div>
    {% endfor %}
{% endif %}

<div class="shop-detail-box-main">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-6">
                <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active"> <img class="d-block w-100" src="{{product.product_img.url}}" alt="First slide"> </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-6">
                <div class="single-product-details">
                    <h2>{{product.product_name}}</h2>
                    <h5> Marka: {{product.brand}} </h5>
                    <h2> {{product.price|intcomma}} zł </h2>
                    <div class="price-box-bar mt-4">
                        <div class="cart-and-bay-btn">
                            <a class="btn hvr-hover mr-2" data-fancybox-close="" href="/buynow/{{product.id}}">Kup teraz</a>
                            {% if not pr_qty %}
                            <a class="btn hvr-hover" data-fancybox-close="" href="/addtocart/{{product.id}}">Dodaj do koszyka</a>
                            {% else %}
                            <a class="btn hvr-hover mr-2" href="/deletefromcart/{{product.id}}" style="color:white;">
                            <i class="fas fa-minus"></i></a>
                            <span class="px-2">{{pr_qty}}</span>
                            <a class="btn hvr-hover ml-2" href="/addtocart/{{product.id}}" style="color:white;">
                            <i class="fas fa-plus"></i></a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="add-to-btn">
                        <div class="add-comp">
                            {% if not wishlist %}
                            <a class="btn hvr-hover" href="/addtowishlist/{{product.id}}"><i class="far fa-heart"></i> Dodaj do listy życzeń</a>
                            {% else %}
                            <a class="btn hvr-hover" href="/removefromwishlist/{{product.id}}"><i class="fas fa-heart"></i> Dodano do listy życzeń</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="title-left">
                    <h2 class="font-weight-bold">Opis produktu</h2>
                </div>
                <p>
                    {% for desc in descs %}
                    <p><i class="fas fa-angle-right"></i><i class="fas fa-angle-right"></i> {{desc}}</p>
                    {% endfor %}
                </p>
            </div>
        </div>
        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}